@import '../../styles';

.wrapper {
  position: relative;
  background-color: #fff9f1;
  border: 1px solid #f9c06a;
  @include flexbox(center, center, row, 0);
  width: 100%;
  height: 400px;


  h3 {
    @include text(#603809, 700, 32px, Playfair Display);
  }

  p {
    @include text(#707070, 400, 18px, Playfair Display);
  }

  .leftArrow,
  .rightArrow {
    position: absolute;
    background-color: #f9c06a;
    padding: 29px;
    border-radius: 16px;
    z-index: 200;
    &:hover{
      filter: grayscale(30%);
      cursor: pointer;
    }
  }

  .leftArrow {
    left: -40px;
  }

  .rightArrow {
    right: -40px;
  }

  .wrapperReviews {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .indicator {
    height: 100%;
    display: flex;
    align-items: end;
    margin-bottom: 10px;
  }

  article {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 10%;
    transition: all 1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    @include flexbox(center, center, column, 28px);

    div {
      @include flexbox(center, center, column, 6px);
    }
  }

  .activSlide {
    opacity: 1;
    transform: translateX(0);
  }

  .lastSlide {
    transform: translateX(-100%);
  }

  .nextSlide {
    transform: translateX(+100%);
  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 80%;
    height: 500px;
  }
  }

@media (max-width: 500px) {
  .wrapper {
    width: 80%;
    height: 600px;
  }
  }